<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="./stylesheets/styles.css"></link>
    </head>
    <body>
        <nav>
            <a class='homelink' href="/">Home</a>
            <a class="homelink" href="/trending">Trending</a>
            <a class="homelink" href="/global">Global Stats</a>
        </nav>
        {{{body}}}
    </body>
</html>