

.flex-header{
    display: flex;
    align-items: center;
}

.image-logo{
    margin-right: 15px;
}

.coin-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    border: 1px black solid;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
}

ul{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width:75%;
}

span{
    font-weight: bold;
}